*{
	background-color: lightgray;
}
#name{
	margin: 0;
	background-color: #32e6d1;
	font-size: 50px;
	text-align: center;
}
#menu{
	background-color: #626d80;
	overflow: hidden;
}
#menu > a{
	background-color: #626d80;
	text-decoration: none;
	color: black;
	padding: 15px 20px;
	display: block;
}
#menu > a:hover{
	background-color: #383c42;
	color: white;
}
#left_pape{
	float: left;
}
#right_pape{
	float: right;
}
#table_one{
	border-collapse: collapse;
	width: 100%;
}

td {
	border: 1px solid;
	text-align: center;
	padding: 8px;
}
th {
	background-color: #48e0ca;
	border: 1px solid;
	text-align: center;
	padding: 8px;
}

tr:nth-child(even) {background-color: red;}
}
.left_side{
	flex: 30%;
	padding: 100px;
	background-color: ;
}
.right_side{
	flex: 70%;
	padding: 15px 20px;
}
#flex_container {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}
@media screen and (max-width: 800px) {
  * {
  	background-color: red;
  }
  .left_side{
  	flex: 100%;
  }
  .right_side{
  	flex: 100%;
  }
  #flex_container{
  	display: flex;
  	flex-wrap: wrap;
  }
}